# hide Google Drive API key
secret-keys/

# hide pycache files
*.pyc

# random files for me lol
parse.py
multicopter-data.csv
jacob.py
.gitignore
data-velocity.csv
data.csv
training/augmented-model.h5
image.jpg

*.png
*.jpg
*.jpeg
*.PNG 
*.JPG 